<select class="district" name="" id="uiDistrict">
    <option value="" disabled="disabled" selected="selected">Select a School District</option>
        <option>Archie</option>
        <option>Belton</option>
        <option>Cass-Midway</option>
        <option>Drexel</option>
        <option>East lynne</option>
        <option>Harrisonville</option>
        <option>Lees Summit</option>
        <option>Other</option>
        <option>Pleasant Hill</option>
        <option>Raymore-Peculiar</option>
        <option>Sherwood</option>
        <option>Strasburg</option>
</select>
