<h2>How many garage doors are there?</h2>
        <div class="switch-field">
            <input type="radio" id="radio-0-GD" name="uiGD" value="0"/>
            <label for="radio-0-GD">0</label>
            <input type="radio" id="radio-1-GD" name="uiGD" value="1"/>
            <label for="radio-1-GD">1</label>
            <input type="radio" id="radio-2-GD" name="uiGD" value="2"/>
            <label for="radio-2-GD">2</label>
            <input type="radio" id="radio-3-GD" name="uiGD" value="3"/>
            <label for="radio-3-GD">3</label>
            <input type="radio" id="radio-4-GD" name="uiGD" value="4"/>
            <label for="radio-4-GD">4</label>
            <input type="radio" id="radio-5-GD" name="uiGD" value="5"/>
            <label for="radio-5-GD">5</label>
            <input type="radio" id="radio-6-GD" name="uiGD" value="6"/>
            <label for="radio-6-GD">6</label>
    </div>
